//Gradients
$gradient--primary: linear-gradient(180deg, #EDB6B0 0%, #CD4A2D 100%);
$gradient--secondary: linear-gradient(180deg, #02BFFF 0%, #018BFF 100%);
$gradient--border: linear-gradient(-90deg, #3434A2 0%, #0996F7 87%);