//SPACING
$spacing--xs: rem-calc(16px); //16px
$spacing--sm: 1.25rem; //20px
$spacing--md: 1.875rem; //30px
$spacing--lg: 2.5rem; //40px
$spacing--xl: 3.75rem; //60px
$spacing--xxl: 5rem; //80px
$spacing--xxxl: 6.25rem; //100px