.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: $spacing--xl 0;
	display: flex;

	@include breakpoint (small down) {
		background-image: url(#{$path-img}backgrounds/hero_family_mobile_800.jpg) !important;
		background-position: center top;
		height: 589px;
		margin-bottom: $spacing--xl * 3;
		padding: 0;
	}//end small down breakpoint

	&:after {
		@include pseudo;
		background-image: linear-gradient(90deg, rgba(get-color(accent3), .8) 0%, rgba(get-color(accent3), .8) 40%, rgba(get-color(accent3), 0) 70%);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:after

	& > .sl_inner {
		height: 100%;

		@include breakpoint (medium down) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}//end medium down breakpoint

		& > .sl_card {
			max-width: 620px;

			@include breakpoint (small down) {
				background-color: get-color(secondary);
				padding: $spacing--xs;
				text-align: center;
				position: absolute;
				bottom: -$spacing--xl * 3;
				left: $spacing--xs;
				right: $spacing--xs;
			}//end small down breakpoint
		}//end & > .sl_card
	}//end & > .sl_inner

	h1 {
		line-height: 1.1;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			color: get-color(inverse);
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end h1

	p {
		font-size: 1.5rem;
		font-weight: $font-weight--semibold;
		color: get-color(primary);

		@include breakpoint (small down) {
			font-size: 1rem;
			color: get-color(inverse);
			margin-bottom: $spacing--xs;
			line-height: 1.375;
		}//end small down breakpoint

		a {
			color: get-color(accent1);

			@include breakpoint (small down) {
				color: #EDD898;
			}//end small down breakpoint

			&[href^=tel] {
				color: get-color(primary);

				@include breakpoint (small down) {
					color: get-color(inverse);
				}//end small down breakpoint
			}//end &[href^=tel]
		}//end a
	}//end p

	.sl_button-group {
		justify-content: flex-start;

		@include breakpoint (medium only) {
			justify-content: center;
		}//end medium only breakpoint
	}//end .sl_button-group
	
}//end .sl_module--billboard