.sl_spotlight {
	padding: $spacing--xl * 2 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@include breakpoint (small only) {
		padding: $spacing--lg 0;
	}//end small only breakpoint

	h2, h3 {
		text-align: center;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint (small down) {
			text-align: left;
		}//end small down breakpoint
	}//end h2, h3

	h3 {
		margin-bottom: $spacing--lg;

		@include breakpoint (small down) {
			font-size: 1.25rem;
			margin-bottom: $spacing--md;
		}//end small down breakpoint
	}//end h3

	h4 {
		font-size: 1rem;
	}//end h4'

	.sl_inner {
		max-width: 1400px;

		& > :last-child {
			margin-bottom :0;
		}//end & > :last-child
	}//end .sl_inner

	&--phone {
		padding: $spacing--xxl 0;
		background-color: get-color(secondary);
		text-align: center;

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint

		.sl_inner {
			max-width: $grid-container;
		}//end .sl_inner

		h2 {
			font-size: rem-calc(36px);
			font-weight: $font-weight--semibold;
			color: get-color(accent3);
			max-width: 100%;

			@include breakpoint (small down) {
				font-size: 1.5rem;
				text-align: center;
				font-weight: $font-weight--bold;
				line-height: 1.4;
			}//end small down breakpoint

			&:before {
				@include fontawesome ($content: '\f879');
				display: inline-block;
				margin-right: $spacing--sm;

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end &:before

			a {
				color: get-color(inverse);
				font-weight: $font-weight--bold;
			}//end a
		}//end h2
	}//end &--phone
}//end .sl_spotlight