.sl_testimonial {
	padding: 0;
	background-color: get-color(secondary);

	&--right {
		.sl_testimonial__media {
			order: 2;

		}//end .sl_testimonial__media
		
		.sl_testimonial__content {
			order: 1;
		}//end .sl_testimonial__content
	}//end &--left

	.sl_inner {
		padding: 0;

		& > h2{
			text-align: center;
		}//end & > h2

		& > p {
			text-align: center;
			max-width: 895px;
			margin: 0 auto;
		}//end & > p
	}//end .sl_inner

	&__media {
		position: relative;
		z-index: 1;
		min-height: 450px;

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
			min-height: 222px;
			order: 2;
		}//end small down breakpoint
	}//end &__media

	&__image {
		position: absolute;
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.sl_button {
			position: absolute;
			top: calc(50% - 40px);
			left: calc(50% - 45px);
		}//end .sl_button
	}//end &__image

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint (small only) {
			order: 1;
		}//end small only breakpoint

		.sl_card {
			padding: $spacing--lg $spacing--xxl;
			text-align: center;

			@include breakpoint (small down) {
				padding: $spacing--xl * 2 $spacing--xs $spacing--lg;
			}//end small down breakpoint
		}//end .sl_card
	}//end &__content

	&__quote {
		p {
			color: get-color(accent3);
			margin-bottom: $spacing--md;
			font-family: $header-font-family;
			font-weight: $font-weight--bold;
			font-size: 2.5rem;
			line-height: 1.25;

			@include breakpoint (small down) {
				font-size: 1.5rem;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end p
	}//end &__quote

	&__cite {
		p {
			color: get-color(inverse);
			font-size: 1.5rem;
			margin-bottom: 0;

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end p
	}//end &__cite
}//end .sl_testimonial