.sl_videogrid {
	h2 {
		text-align: center;
	}//end h2

	h3 {
		color: get-color(primary);
		font-family: $body-font-family;
		font-weight: $font-weight--semibold;
		font-size: 1.25rem;
		white-space: initial;
		text-align: center;

		@include breakpoint (small only) {
			font-size: 1.125rem;
		}//end small only breakpoint
	}//end h3

	p {
		text-align: center;
		max-width: 910px;
		margin: 0 auto $spacing--xxxl;

		@include breakpoint (small only) {
			margin-bottom: $spacing--lg;
		}//end small only breakpoint
	}//end p

	.sl_row {
		max-width: 942px;
		margin: 0 auto;

		& > .sl_cell {
			padding: 0 $spacing--sm;
			margin-bottom: $spacing--md;

			@include breakpoint (small only) {
				padding: 0;
			}//end small only breakpoint

			& > a {
				display: block;
				@include transition (all .2s ease-in-out);

				&:hover {
					@include transition (all .2s ease-in-out);

					h3 {
						color: get-color(secondary);
						text-decoration: underline;
					}//end h3

					.sl_button--video {
						background-image: url("../img/icon/video-button--hover.svg");
						background-color: transparent;
					}//end .sl_button--video
				}//end &:hover

				&:focus {
					outline: none;
				}//end &:focus
			}//end & > a
		}//end & > .sl_cell
	}//end .sl_row

	&__image {
		min-height: 260px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: $spacing--xs/2;
		border-radius: 2px;

		@include breakpoint (small only) {
			min-height: 210px;
		}//end small only breakpoint

		.sl_button {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 35px);
		}//end .sl_button
	}//end &__image
}//end img