<div id="{{id}}" class="sl_module sl_videogrid {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
		<div class="sl_row medium-up-2">
			{{#each videos}}
			<div class="sl_cell">
				<a data-open="{{modal-id}}">
				<div class="sl_videogrid__image" style="background-image: url({{img}})">
					<div class="sl_button sl_button--video"></div>
				</div>
				<h3>{{title}}</h3>
				</a>
			</div><!-- /.sl_cell -->
			{{/each}}
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_videogrid -->

{{#each videos}}
{{!REVEAL}}
<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="{{modal-id}}">
	<div class="responsive-embed widescreen">
		<iframe width="560" height="315" src="{{video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>{{!--/widescreen.flex.video--}}
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
		</button>{{!--/button--}}
</div>{{!--/.reveal--}}
{{/each}}