<div id="{{id}}" class="sl_module sl_appcallout {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		<div class="sl_row">
			<div class="sl_cell sl_appcallout__media">
				{{#if image}}<img src="{{image.src}}" class="sl_appcallout__image" alt="{{image.alt}}" />{{/if}}
			</div><!-- /.sl_cell -->
			<div class="sl_cell sl_appcallout__content medium-auto small-12">
				{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
				{{#if button}}<a class="sl_button" href="{{button.url}}" target="_blank" rel="noreferrer">{{button.text}}</a>{{/if}}
				{{#if downloads }}
				<div class="sl_appcallout__downloads">
					{{#if downloads.apple}}<a href="{{downloads.apple}}" target="_blank" rel="noreferrer"> <img src="assets/img/apple-store.png" alt="Download on the Apple Store" /></a>{{/if}}
					{{#if downloads.google}}<a href="{{downloads.google}}" target="_blank" rel="noreferrer"> <img src="assets/img/google-play-badge.png" alt="Get It On Google Play" /></a>{{/if}}
				</div>
				{{/if}}
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_appcallout -->