<div id="{{id}}" class="sl_module sl_staff-slider {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		<div id="staff-slider" class="sl_slider">
			{{#each items}}
				<div class="sl_card">
					<div class="sl_row">
						<div class="sl_card__media sl_cell">
							<div class="sl_card__image" style="background-image: url({{img}})"></div>
						</div><!-- /.sl_card__media -->
						<div class="sl_card__content sl_cell xlarge-auto large-12">
							<h4>{{name}}</h4>
							<p class="sl_card__quote">{{quote}}</p>
							<p class="sl_card__bio">{{bio}}</p>
							<a class="sl_button" href="{{url}}" target="_blank">Request Appointment</a>
						</div><!-- /.sl_card__content -->
					</div><!-- /.sl_row -->
				</div><!-- /.sl_card -->
			{{/each}}
		</div><!-- /.sl_slider -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_testimonial-slider -->