<div id="{{id}}" class="sl_module sl_spotlight {{#if class}}{{class}}{{/if}}" {{#if background}}style="background-image: url({{background}})"{{/if}}>
	<div class="sl_inner">
		{{#markdown}}{{content}}{{/markdown}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_spotlight -->