<div id="{{id}}" class="sl_module sl_imagegrid {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		<div class="sl_row">
			{{#each items}}
			<div class="sl_cell auto small-12">
				{{#if link}}<a href="{{link}}">{{/if}}
				<img src="{{src}}" class="sl_list__image" alt="{{alt}}" />
				{{#if link}}</a>{{/if}}
			</div><!-- /.sl_cell -->
			{{/each}}
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_imagegrid -->