<div id="{{id}}" class="sl_module sl_list {{#if image}}sl_list--image {{/if}}{{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		<div class="sl_row">
			<div class="sl_cell sl_list__content auto medium-6 small-12">
				{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
				<ul>
					{{#each items}}
					<li>
						{{#if url}}<a {{#if urlclass}}class="{{urlclass}}"{{/if}} href="{{url}}" data-smooth-scroll data-offset="-100" target="_blank" rel="noreferrer">{{/if}}
						{{text}}
						{{#if phone}}<br><a href="tel:{{phone}}">{{phone}}</a>{{/if}}
						{{#if url}}</a>{{/if}}
					</li>
					{{/each}}
				</ul>
				{{#if button}}<a class="sl_button show-for-medium" href="{{button.url}}" target="_blank" rel="noreferrer">{{button.text}}</a>{{/if}}
			</div><!-- /.sl_cell -->
			<div class="sl_cell sl_list__media{{#if xlarge-media}}xlarge-{{xlarge-media}}{{/if}} {{#if large-media}}large-{{large-media}}{{else}}large-6{{/if}} {{#if medium-media}}medium-{{medium-media}}{{else}}medium-6{{/if}} {{#if small-media}}small-{{small-media}}{{/if}}">
				{{#if video}}
				<a data-open="{{video.modal-id}}">
					<div class="sl_list__video" style="background-image: url({{video.img}})">
						<div class="sl_button sl_button--video"></div>
					</div>
				<h3>{{video.title}}</h3>
				</a>
				{{/if}}
				{{#if image}}
				<img src="{{image.src}}" class="sl_list__image" alt="{{image.alt}}" />
				{{/if}}
				{{#if button}}<a class="sl_button hide-for-medium" href="{{button.url}}" target="_blank" rel="noreferrer">{{button.text}}</a>{{/if}}
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_list -->

{{#if video}}
{{!REVEAL}}
<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="{{video.modal-id}}">
	<div class="responsive-embed widescreen">
		<iframe width="560" height="315" src="{{video.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>{{!--/widescreen.flex.video--}}
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
		</button>{{!--/button--}}
</div>{{!--/.reveal--}}
{{/if}}