<div id="{{id}}" class="sl_module sl_billboard" style="background-image: url({{img}})">
	<div class="sl_inner">
		<div class="sl_card">
			{{#if custom}}
			<!-- Custom Billboard Markup Goes here -->
			{{else}}
			{{#markdown}}{{heading}}{{/markdown}}
			{{#markdown}}{{content}}{{/markdown}}
			{{/if}}
			<div class="sl_button-group">
				{{#each buttons}}
				<a class="sl_button" href="{{url}}" data-smooth-scroll data-offset="-100">{{text}}</a>
				{{/each}}
			</div><!-- /.sl_button-group -->
		</div><!-- /.sl_card -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_billboard -->